body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFCF7;
    margin: 0;
}


/*common css*/

.mt-3 {
    margin-top: 2.5rem;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    color: #111111;
    text-decoration: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.p-0 {
    padding: 0 !important;
}

.main {
    background-size: var(--bg-size);
    margin-top: 100px;
}

.logo {
    width: 320px;
    height: auto;
    margin: 0 auto;
}

.main p {
    font-size: 26px;
    letter-spacing: 5px;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

span {
    color: #E0345A;
}

.icon {
    margin-top: 100px;
    margin-bottom: 40px;
    color: #E0345A;
    text-align: center;
}


/* section first */

.first-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section .left {
    width: calc(100% - 540px);
}

.first-section .right {
    width: 540px;
}

.first-section .content {
    width: 650px;
    margin-left: 114px;
}

.first-para {
    font-size: 19px;
    color: #707070;
    line-height: 50px;
    margin-top: 0;
}

.line {
    height: 5px;
    width: 100px;
    background-color: #E0345A;
    margin-bottom: 12px
}


/* section second */

.second-section {
    margin-top: 150px;
    width: 100%;
    display: flex;
}

.second-section .left {
    width: calc(100% - 660px);
    text-align: center;
}

.second-section .left img {
    margin: 0 auto;
    /* width: 240px; */
}

.second-section .right {
    width: 660px;
    display: flex;
    align-items: center;
}

.second-section .content {
    width: 440px;
}

.second-para {
    font-size: 1.625rem;
    line-height: 200%;
    color: #707070;
    text-align: left;
    padding-top: 18rem;
    margin-right: 10%;
    margin-left: 12%;
}

.para {
    font-size: 1.625rem;
    color: #707070;
    text-align: left;
    margin-top: 2rem;
    margin-right: 10%;
    margin-left: 12%;
}

.socialIcon li {
    margin-top: 12px;
}

.socialIcon ul {
    display: block;
    margin-top: 2.5rem;
}


/* footer */

.footer {
    padding: 24px 0;
    width: calc(100% - 60px);
    border-top: 1px solid #707070;
    margin: 0 auto;
    margin-top: 100px;
}

.footer-para {
    padding-top: 6px;
}

.inner-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item {
    display: inline-block;
    font-size: 18px;
    color: #111111;
    padding-right: 40px;
}

.mobile-none {
    display: block;
}

.mobile-block {
    display: none;
}

@media screen and (min-width: 1600px) {
    .first-section .left {
        width: calc(100% - 680px);
    }
    .first-section .right {
        width: 680px;
    }
    .first-section .content {
        width: 745px;
    }
    .first-para {
        font-size: 22px;
        line-height: 60px;
    }
    .second-section .left {
        width: calc(100% - 800px);
    }
    .second-section .right {
        width: 800px;
    }
}

/* @media screen and (min-width: 1600px) and (max-width: 1800px) {
    .first-section .right {
        width: 600px !important;
    }
    .second-section .left img {
        width: 785px;
    }
    .app-img {
        width: 900px;
    }
} */

@media screen and (min-width: 1200px) and (max-width: 1480px) {
    .first-section .left {
        width: calc(100% - 500px);
    }
    .first-section .right {
        width: 500px;
    }
    .first-section .content {
        width: 620px;
        margin-left: 40px;
    }
    .first-para {
        font-size: 18px;
    }
    .second-section .left {
        width: calc(100% - 500px);
    }
    .second-section .right {
        width: 500px;
    }
    .second-section .left img {
        width: 320px;
    }
    .app-img {
        width: 320;
    }
}

@media screen and (min-width: 1040px) and (max-width: 1199px) {
    .first-section .left {
        width: calc(100% - 450px);
    }
    .first-section .right {
        width: 450px;
    }
    .first-section .content {
        width: 552px;
        margin-left: 20px;
    }
    .first-para {
        font-size: 16px;
        line-height: 45px;
    }
    .second-section .left {
        width: calc(100% - 460px);
    }
    .second-section .right {
        width: 460px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
    .first-section .left {
        width: calc(100% - 425px);
    }
    .first-section .right {
        width: 425px;
    }
    .first-section .content {
        width: 500px;
        margin-left: 20px;
    }
    .first-para {
        font-size: 16px;
        line-height: 45px;
    }
    .second-section .left {
        width: calc(100% - 460px);
    }
    .second-section .right {
        width: 460px;
    }
}

@media screen and (max-width: 991px) {
    .main {
        margin-top: 250px;
    }
    .icon {
        margin-top: 250px;
    }
    .logo {
        width: 200px;
    }
    .main p {
        font-size: 18pt;
        letter-spacing: 1px;
    }
    .first-section .left,
    .first-section .right,
    .second-section .left,
    .second-section .right {
        width: 100%;
        padding: 0;
    }
    .second-section .content,
    .first-section .content {
        margin: 0 auto;
        width: calc(100% - 30px);
    }
    .second-section {
        margin-top: 100px;
    }
    .second-section .left {
        text-align: center;
    }
    .second-section .left img {
        margin: 0 auto;
    }
    .socialIcon {
        text-align: center;
    }
    .line {
        width: 65px;
        margin-top: 40px;
    }
    .app-img {
        margin: 0 auto;
    }
    .first-para {
        font-size: 17px;
        font-weight: 300;
        line-height: 36px;
        margin-top: 46px;
    }
    .first-section {
        flex-direction: column-reverse;
    }
    .second-section {
        flex-direction: column;
    }
    .footer-item {
        padding: 0;
        font-size: 14px;
        display: block;
        line-height: 4;
    }
    .footer-para,
    .inner-foot {
        margin-top: 25px;
        align-items: unset;
    }
    .footer-para {
        font-size: 12px;
    }
    .footer-image {
        margin-top: 12px;
    }
    .mobile-none {
        display: none;
    }
    .mobile-block {
        display: block;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1040px) {
    .first-section .left {
        width: calc(100% - 460px) !important;
    }
    .first-section .right {
        width: 460px !important;
    }
}